body {
      font-family: century gothic;
      padding: 0;
      margin: 0;
      padding-left: 200px;
      padding-right: 200px ;
}
.input-align {
      display: flex;
      padding: 0;
      margin: 10px;
      margin-left: 0;
      justify-content: flex-start;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
}
.input-content {
      padding: 10px;
      font-size: 1.0em;
      outline: none;
      background-color: #dfdfdf;
      border: none;
      width: 43%;
      margin: 20px;
      font-family: century gothic;
      border-radius: 20px;
}
input[type="text"] {
      width: 26.7%;
}
.content-padd {
      margin-left: 0;
}
input::placeholder {
      color: #000;
}
form button {
      background-color: #000;
      color: #fff;
      padding: 10px;
      font-family: century gothic;
      font-size: 1em;
      margin: 0;
      border: none;
      width: 45%;
      border-radius: 20px;
      font-weight: bold;
}
.header-content {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
}
.report-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5px;
      margin: 5px;
}
.report-content table {
      padding: 5px;
      border: 1px solid #000;
      width: 100%;
      text-align: center;
      margin-top: 20px;
      border-collapse: collapse;
}
.report-content table tr td, .report-content table tr th {
      border: 1px solid #000;
      padding: 10px;
}
.remarks-content {
      margin-top: 30px;
}
.remarks-content p:last-child, .remarks-content p:last-child div {
      display: flex;
      justify-content: space-between;
}
.remarks-content p:last-child button {
      background-color: #000;
      color: #fff;
      font-family: century gothic;
      padding: 10px;
      width: 110%;
      border: none;
      font-weight: bold;
      margin: 5px;
}
form button:last-child {
      margin-left: 40px;
}
.align-input-firstdiv input {
      width: 18.5%;
}
.show-pupils-content {
      display: flex;
      width: 100%;
      padding: 10px;
      margin: 20px;
      margin-top: 0;
}     
li {
      background-color: #dfdfdf;
      list-style-type: none;
      padding: 10px;
      margin: 15px;
      width: 95%;
      border-radius: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
}
.search-content {
      width: 120%;
      padding: 20px;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
}
.show-pupils-content h1 {
      position: fixed;
      background-color: white;
      padding: 20px;
      width: 50%;
      margin-top: -30px;
}
.pupils li:first-child {
      margin-top: 15vh;
}
.form-content-search {
      margin-top: 9vh;
      font-size: 1em;
      padding: 10px;
      font-family: century gothic;
      outline: none;
      border-radius: 20px;
      border: none;
      background-color: #dfdfdf;
}
.pupils-content {
      width: 50%;
      padding: 10px;
      margin: 10px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
}
.search-content form {
      margin-top: 7vh;
      position: fixed;
      width: 89%;
      background-color: white;
}
.search {
      margin-top: 15vh;
}
.input-button {
      width: 10%;
      padding: 10px;
      margin: 10px;
      border: none;
      border-radius: 20px;
      color: #fff;
      background-color: #000;
      font-family: century gothic;
      font-weight: bold;
}
.single-pupil table tr td {
      padding: 10px;
      margin: 10px;
      padding-left: 0;
}
.single-pupil div {
      margin-top: 5vh;
}
.single-pupil table {
      margin-top: 3vh;
}
.single-pupil-button {
      width: 100%;
      background-color: #000;
      border: none;
      color: #fff;
      padding: 10px;
      margin-top: 5vh;
      font-size: 1em;
      font-weight: bold;
      border-radius: 20px;
      outline: none;
}
.single-pupil-back-button {
      margin-top: 0;
}